<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
  <body>

    <div class="container">
      <%- include topmenu %>
      <p>Welcome to <%= title %></p>
    </div>
  </body>
</html>
